.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  padding: 100px;
  background: linear-gradient(180deg, #008aff, #ff137d), url("https://placeimg.com/480/640/any");
  background-blend-mode: screen;
}

.section .content {
  max-width: 700px;
}

.section .content h2 {
  font-size: 3rem;
  color: snow;
}

.section .content p {
  font-size: 1.2rem;
  color: snow;
}
