.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.section .formInput {
  position: relative;
  width: 250px;
}

.section .formInput input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 15px 0 10px;
}

.section .formInput span {
  position: absolute;
  left: 0;;
  padding: 15px 0 10px;
  color: gray;
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.1rem;
  transition: 0.5s;
}

.section .formInput input:valid ~ span,
.section .formInput input:focus ~ span {
  color: dodgerblue;
  transform: translateY(-16px);
  font-size: 0.7rem;
}

.section .formInput i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  overflow: hidden;
}

.section .formInput i::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, tomato, yellow, dodgerblue, purple, tomato);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 250px;
  }
}