.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.section canvas {
  display: block;
}

@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;
    align-items: stretch;
  }

  .section div {
    text-align: center;
  }
}